<h2>Books listing here:</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Cover</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="col-md-5"><%= book.title %></td>
        <td class="col-md-3"><%= book.author %></td>
        <td class="col-md-2"><%= image_tag book.cover.thumb %></td>
        <td class="col-md-2"><%= link_to 'Show', book, 
          class: "btn btn-default btn-xs" %>
        <%= link_to 'Edit', edit_book_path(book), 
          class: "btn btn-default btn-xs" %>
        <%= link_to 'Destroy', book, 
        method: :delete, data: { confirm: 'Are you sure?' },
          class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
