<p id="notice"><%= notice %></p>

<h2>
  <strong>Title:</strong>
  <%= @book.title %>
</h2>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <%= image_tag @book.cover, class: "img-thumbnail" %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
