<header class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "The books :)", '#', class: "navbar-brand" %>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home",    '/' %></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Categories <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% Category.all.each do |cat| %>
                  <li><%= link_to cat.name, books_path(cat: cat.name) %></li>
                <% end %>
              </ul>
            </li>
        </ul>

        <%= form_tag books_path, :method => 'get', class: "navbar-form navbar-left" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control",
              placeholder: "Search" %>
              <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
            </div>
          <% end %>
        <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to new_book_path  do %>
                <span class="glyphicon glyphicon-plus bigfont"></span>
                Add book
              <% end %>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>